<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div class="content_logo">
            <img src="../static/assets/logotipo.png">
            <p id="name">Bienvenido, <span id="name-user"></span> </p>
        </div>
    </header>

    <nav id="nav">
        <ul>
            <li><a>Gestion de Usuarios</a></li>
            <li><a>Configuracion de archivos</a></li>
            <li><a href="{{ url_for('upload') }}">Cargas de imagenes</a></li>
            <li><a>Cargas de videos</a></li>
        </ul>
        <div class="toggle_button" id="toggle_button">
            <img src="../static/assets/forward_arrow_icon.png">
        </div>
    </nav>

 <script src="../static/scripts/dashboard.js"></script>
</body>
</html>