<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesion</title>
    <link href="../static/styles/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="main_container">
    <div class="form-container">
      <p class="title">Inicia Sesion</p>
      <form class="form">
          <div class="input-group">
              <label for="username">Usuario</label>
              <input type="text" name="username" id="username" placeholder="">
          </div>
          <div class="input-group">
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" placeholder="">
              <div class="forgot">
                  <a rel="noopener noreferrer" href="#">Olvidaste la contraseña ?</a>
              </div>
          </div>
          <button type="button" class="sign" onclick="getLogin()">Ingresar</button>
      </form>
      <p class="signup">No tienes cuenta?
          <a rel="noopener noreferrer" href="{{ url_for('create_account') }}" class="">Registrate</a>
      </p>
    </div>
      <div id="message_content" class="message-content"></div>
  </div>
    <script src="../static/scripts/login.js"></script>
</body>

</html>