<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/parametrizacion-rutas.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/sidebar.css">
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>BoiPose | Parametrizacion</title>
</head>
<body>
    <header>
        <div class="content_logo">
            <img src="../static/assets/logotipo.png">
            <p id="name">Bienvenido, <span id="name-user"></span> </p>
        </div>
    </header>

    <nav id="nav">
        <ul>
            <li><a href="{{ url_for('view_dashboard')}}">Dashboard</a></li>
            <li><a href="{{ url_for('manage_users')}}">Gestion de Usuarios</a></li>
            <li><a href="{{ url_for('configuration_path')}}">Configuracion de rutas</a></li>
            <li><a href="{{ url_for('upload')}}">Deteccion en imagen</a></li>
            <li><a>Deteccion en video</a></li>
            <li><a href="{{ url_for('verify_images')}}">Verifica tus imagenes</a></li>
            <li><a onclick="viewCloseSession()">Cerrar Sesion</a></li>
        </ul>
        <div class="toggle_button" id="toggle_button">
            <img src="../static/assets/forward_arrow_icon.png">
        </div>
    </nav>

    <div class="main_container_routes" id="main_container_routes">
        <div class="container_routes_title">
            <h1>Configuracion de Archivos</h1>
        </div>
        <section class="parametrizar_ruta">
            <h2>Parametrizacion de Rutas</h2>
            <div class="main_route">
                <div class="content_configuration">
                    <div class="content_configuration_elements">
                        <label>Ruta Principal:</label>
                        <input type="text" id="folderInput" placeholder="Pega aqui la ruta que tendra tu proyecto completo">

                    </div>
                    <div class="button_save" onclick="saveMainPath()">
                        <button id="button_save">Guardar configuracion</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="parametrizar_video"></section>
        <section class="content_table">
            <h2>Rutas Parametrizadas Actualmente</h2>
            <div class="add_route_button">
                <button onclick="openModalCreatePath()">Agregar Nueva Ruta</button>
            </div>
            <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Directorio</th>
                    <th>Fecha Creacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla-cuerpo">

            </tbody>
        </table>
        </section>

    </div>

    <!------- MODAL CREACION NUEVA RUTA ------->
    <div class="modal_create_folder" id="modal_create_folder">
        <div class="modal_background" id="modal_background">
            <div class="modal_main_content">
                <div class="content_title_modal">
                    <h2>Agregar Nueva Carpeta</h2>
                </div>
                <div class="content_modal_input">
                    <input type="text" id="inputFolderName" placeholder="Ingresa el nombre que tendra tu carpeta">
                    <label for="folderInput">
                        <img id="folder_icon" src="../static/assets/folder_icon.png" alt="Logo">
                    </label>
                </div>
                <div class="content_modal_buttons">
                    <button id="close" class="close_button" onclick="closeModal()">Cancelar</button>
                    <button id="save" class="save_button" onclick="saveNewFolder()">Crear Carpeta</button>
                </div>
            </div>
        </div>
    </div>

    <!------- MODAL ELIMINAR RUTA --------------->
    <div class="modal_delete_path" id="modal_delete_path">
        <div class="content_options">
            <div class="content_options_title">
                <h2>¿Estás seguro de eliminar la carpeta?</h2>
                <span>Se perderán todas las imágenes que contenga el directorio</span>
            </div>
            <div class="content_options_buttons">
                <button class="btnCancelOption" onclick="closeModalOptions()">No</button>
                <button class="btnDeleteOption" id="btnDeleteOption">Si</button>
            </div>
        </div>
    </div>

    <script src="../static/scripts/parametrizacion-rutas.js"></script>
</body>
</html>