<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boi Pose | Verificar Imagenes</title>
    <link rel="stylesheet" href="../static/styles/verify_images.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/sidebar.css">
    <link rel="icon" href="../static/assets/logotipo.png">
</head>
<body>
    <header>
        <div class="content_logo">
            <img src="../static/assets/logotipo.png">
            <p id="name">Bienvenido, <span id="name-user"></span> </p>
        </div>
    </header>

    <nav id="nav">
        <ul>
            <li><a href="{{ url_for('view_dashboard')}}">Dashboard</a></li>
            <li><a href="{{ url_for('manage_users')}}">Gestion de Usuarios</a></li>
            <li><a href="{{ url_for('configuration_path')}}">Configuracion de rutas</a></li>
            <li><a href="{{ url_for('upload')}}">Deteccion en imagen</a></li>
            <li><a href="{{ url_for('upload_videos')}}">Deteccion en video</a></li>
            <li><a href="{{ url_for('verify_images')}}">Verifica tus imagenes</a></li>
            <li><a onclick="viewCloseSession()">Cerrar Sesion</a></li>
        </ul>
        <div class="toggle_button" id="toggle_button">
            <img src="../static/assets/forward_arrow_icon.png">
        </div>
    </nav>

    <section class="main_container_verify">
        <div class="main_subcontainer">
            <h1>VERIFICACION DE IMAGENES</h1>
            <div class="content_menu">
                <div class="content_options">
                    <div class="content_paths">
                        <label>Selecciona la ruta a cargar</label>
                        <select id="paths">
                            <option>Elige una ruta</option>
                        </select>
                    </div>
                    <div class="content_file">
                        <label>Elige un archivo a cargar</label>
                        <select id="files">
                            <optgroup label="Elige una opcion">
                                <option>Elige una archivo</option>
                            </optgroup>
                        </select>
                    </div>
                        <button onclick="showImage()">Cargar Imagen</button>
                </div>
                <div class="content_image">
                    <img id="image_result" src="../static/assets/not_image.png" >
                    <h3 id="select_image">Selecciona primero una imagen...</h3>
                </div>
            </div>
        </div>
    </section>



  <script src="../static/scripts/verify_images.js"></script>
</body>
</html>