@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main_container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.left_container{
    width:50%;
}

.right_container{
    width:50%;
}
.form-box {
  width: 80%;
  height : 70vh;
  background:  rgba(17, 24, 39, 1);
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
 }

/*Inputs box*/
.form-container {
  overflow: hidden;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
  margin-bottom:10px;
    background-color: #fff;

}

.form-section {
    display:flex;
    justify-content: center;
  padding: 16px;
  font-size: .85rem;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section p{
    color: rgb(255,255,255);
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color .3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #5CD2C6;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #005ce6;
}