@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

nav{
    /*width:250px;*/
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(255,255,255,0.9);
    box-shadow:3px 0px 10px rgba(0,0,0,0.3);
    left:-280px;
    transition: left 0.5s;
    z-index:2;
}

nav .toggle_button{
    width:40px;
    height:40px;
    border-radius:100%;
    background-color:#eef5ff;

    display:flex;
    justify-content:center;
    align-items:center;

    border:transparent;
    position:absolute;
    top:48vh;
    right:-25px;
    cursor:pointer;
}

nav .toggle_button img{
    width:30px;
    height:30px;
    cursor:pointer;
    transition: transfrom 0.5s ease;
}

nav .toggle_button img.rotated{
    transform: rotate(180deg);
}

hr{
    width: 248px;
    height: 1px;
    color: white;
}

.content_logo_sidebar{
    background-color: aliceblue;
    border-radius: 30px;
    width: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_logo_sidebar img{
    height: 70px;
}

i{
    margin-right: 10px;
}

nav ul li{
    margin: 5px 0px;
}

nav ul li:hover{
    background-color: #0d6efd;
    border-radius: 5px;
}